/*  ==================================================== 
     GERAL
    ====================================================
*/
html {
    font-size: calc(15px + 0.390625vw);
}

body {    
    color: #21243D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #21243D;
    text-decoration: none;
}

p {
    line-height: 130%;
}

section.posts h2 {
    text-align: center;
}

img {
    max-width: 100%;
}

/*  ==================================================== 
     ESPECIFICO
    ====================================================
*/

header ul li {
    text-align: center;
    padding: 10px 0 10px 0;
}

footer {
    text-align: center;
    font-size: 20px;
    margin: 10px 15px;
}

footer p.links {
    font-size: 2.3rem;    
    margin: 10px 15px
}

footer p.links a {
    margin: 15px;
}


/*  ===== HOME =====
*/
section.banner {
    text-align: center;
    padding: 0 5% 0 5%;
}

section.banner h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0 10px 0;
}

section.banner p button {
    background-color: #FF6464;    
    border: none;
    color: #FFFFFF;
    display: inline-block;
    margin: 10px 0 50px;
    padding: 5px 10px;
    font-size: 1.2rem;
}

section.posts {
    background-color: #EDF7FA;
    padding: 10px;
}

section.posts h2 {
    margin: 15px;
}

section.posts ul li {
    background-color: #FFF;
    padding: 10px 15px 10px 15px;
    margin: 12px 10px 12px 10px;
}

section.posts ul li h3 {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 130%;
}

section.posts ul li p {
    margin: 15px 0 15px 0;
}

section.works {
    padding: 20px 10px 20px 10px;
}

section.works ul li {
    margin: 10px
}

section.works ul li h3 {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 130%;
    margin: 15px 0 0 0 ;
}

section.works ul li p {
    margin: 10px 0;
}

section.works ul li p.info {
    color: #8695A4
}

section.works ul li p.info span.data {
    background-color: #142850;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 16px;
    font-weight: 600;
}

section.works ul {
    border-bottom: 1px solid #E0E0E0;
}


/*  ===== WORKS =====
*/

section.ft-works, section.heading1{
    padding: 0 5% 0 5%;
}

section.ft-works h1 {
    font-weight: 500;
    font-size: 1.85rem;
    margin: 10px 0 10px 0;
}

section.ft-works h2 {
    margin: 15px 0 15px 0 ;
    font-size: 1.4rem;
    font-weight: 600;
}

section p span.data {
    background-color: #FF7C7C;    
    color: #FFF;
    padding: 5px 10px;
    border-radius: 16px;
    font-weight: 600;    
}

section p{
    margin-bottom: 10px;
}